[package]
name = "prost-reflect-conformance-tests"
description = "Protobuf test runner for prost-reflect."
version = "0.0.0"
authors = ["Andrew Hickman <andrew.hickman1@sky.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
publish = false
build = "build.rs"

[dependencies]
prost = "0.10.0"
prost-types = "0.10.0"
prost-reflect = { path = "../prost-reflect", features = ["serde"] }
env_logger = "0.9.0"
serde_json = { version = "1.0.74", features = ["float_roundtrip"] }
serde = "1.0.133"
once_cell = "1.9.0"

[dev-dependencies]

[build-dependencies]
tar = "0.4.38"
flate2 = "1.0.22"
ureq = "2.4.0"
anyhow = "1.0.52"
prost-build = "0.10.0"
tempfile = "3.2.0"

[package.metadata.release]
release = false
